.cap{
    text-transform:uppercase; 
}

.my-card{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.109) 2px 2px 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    
    
}

.my-card-1{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.109) 2px 2px 5px;
    margin-bottom: 20px;
    border-radius: 0px 0px 15px 15px ;
    text-align: center;
    
    background-image: url('https://raw.githubusercontent.com/vineetjk/dolphin-rt-pcr/main/assets/img/bck.png');
    background-size: cover;
}

.my-card-12{
    
    
    background-color: rgb(255, 255, 255);
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.109) 5px 5px 5px;
    
    border: 0ch;
    outline: none;
    display: inline;
    border-radius: 1px;

}

