.cap{
    text-transform:uppercase; 
}

.my-card{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.109) 2px 2px 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    
    
}

.my-card-1{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.109) 2px 2px 5px;
    margin-bottom: 20px;
    border-radius: 0px 0px 15px 15px ;
    text-align: center;
    
    background-image: url('bck.png');
    background-size: cover;
}

.my-card-12{
    
    
    background-color: rgb(255, 255, 255);
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.109) 5px 5px 5px;
    
    border: 0ch;
    outline: none;
    display: inline;
    border-radius: 1px;

}

.warn-card{
    background-color: rgba(255, 174, 0, 0.836);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.109) 2px 2px 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    
}

.danger-card{
    background-color: rgba(248, 39, 39, 0.795);
    padding: 10px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.109) 2px 2px 5px;
    margin-bottom: 20px;
    border-radius: 15px;

}